# IDE
.vscode

# Python
*.pyc
__pycache__
*egg-info


# Virtual Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# Output Files
*netlist.yaml
*.dump
*.log
.hlkc_cache
tt_build/
generated_modules/
*.ipynb
*.json
*.pt
archive/


#  Ignore installable whl files and folders
{pybuda-,tvm-}*.whl
*.whl


# System files / macOS
.DS_Store

model_demos/OUTPUTS/